<!DOCTYPE html>
<html>
<head>
	<title>New post</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
	<style>
		.cart {
		background-color: #ffffcc;
		border-style: solid;
		border-width: thin;
		} 
		p{
		color: #000000;
		}
	</style>
</head>

<body>
	<div class="start">
		<div style="padding:16px">
			<h1>My Cart</h1>
			{% for post in posts %}
			{% if user.id == post.buyer %}
			<div class="cart">
				<h3>{{ post.title }}:</h3>
				<p>{{ post.info }}</p>
				<p>{{ post.price }}$</p>	
			</div>
			<br>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</body>
</html>