<title>Posts</title>

{% if user != None %}
<p>Hi {{ user.username }}!</p>

<a href="/posts/new">New post</a> <br/>
<a href="/posts/my_posts">My posts</a> <br/>
<a href="/posts/my_cart">My cart</a> <br/>
<a href="/logout">Logout</a> <br/>

{% elif user == None %}
<a href="/register">Register/Login</a>
{% endif %}

<h1>Posts</h1>
{% for post in posts %}
{% if post.buyer == 0 %}
<div style="border-style: solid">
	<h3>{{ post.title }}:</h3>
	<p>Information- {{ post.info }}</p>
	<p>Price- {{ post.price }}$</p>
	<p>Date- {{ post.date }}</p>
	{% if user.id == post.user %}
	<button onclick="location.href = '/posts/{{post.id}}/edit';">edit</button>
	<button onclick="location.href = '/posts/{{post.id}}/delete';">delete</button>
	{% elif user != None %}
	<button onclick="location.href = 'posts/{{post.id}}/buy';">buy</button>
	{% endif %}
</div>
<br/>
{% endif %}
{% endfor %}
